{% extends 'sidebar.html' %}

{% block main %}
<main>
                    <div class="container-fluid px-4">
                        <h2 class="mt-4">Création d'une facture</h2>

                        <hr>
                        <div class="row justify-content-center">
                          <div class="col-md-6">


                            <form method="post" class="shadow p-4 bg-light rounded" action="{% url 'invoice_add' %}">
                                {% csrf_token %}
                            <div class="mb-3">
                                <span>Stock</span>
                                {{ form.stock }}
                                {% if form.stock.errors %}
                                    <div class="text-danger">
                                        {{ form.stock.errors }}
                                    </div>
                                {% endif %}
                            </div>
                                <div class="mb-3">
                                    <span>N° Facture</span>
                                    {{ form.number }}
                                    {% if form.number.errors %}
                                        <div class="text-danger">
                                            {{ form.number.errors }}
                                        </div>
                                    {% endif %}

                                </div>
                            <div class="mb-3">
                                <span>Date Facture</span>
                                {{ form.date_of_purchase }}
                                {% if form.date_of_purchase.errors %}
                                    <div class="text-danger">
                                        {{ form.date_of_purchase.errors }}
                                    </div>
                                {% endif %}
                            </div>


                                <button type="submit" class="btn  text-light w-100" style="background: #04414d">Enregistrer</button>
                            </form>

                        </div>
                    </div>
                    </div>


                </main>

{% endblock main %}






