{% extends 'sidebar.html' %}

{% block main %}
<main>
{% include 'messages.html' %}
                    <div class="container-fluid px-4">

                        <h2 class="mt-4">Liste des catégories</h2>

                        <hr>

                    {% if perms.stocks.add_branch %}  <!-- masquer le bouton de création pour l'utilisateur qui n'a pas la permission-->
                    <a href="{% url 'category_add' %}" class="btn btn-sm btn-outline-primary">Ajouter une catégorie</a>
                     {% endif %}
                        <hr>
                        <div class="row">
                              <!-- Champ de recherche -->
                            {% include 'search_form.html' %}

                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th scope="col" class="d-none d-md-table-cell">Code</th>
                              <th scope="col">Nom</th>
                              <th scope="col" class="d-none d-md-table-cell">Description</th>

                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                                {% for category in categories %}
                            <tr>
                              <td  class="d-none d-md-table-cell">{{ category.id }}</td>
                              <td >{{ category.name }}</td>
                              <td  class="d-none d-md-table-cell">{{ category.description }}</td>



                            <td>
                            <!-- Boutons CRUD -->
                        <div class="d-flex flex-column flex-sm-row gap-2">
                                {% if perms.products.change_category %}
                            <a href="{% url 'category_edit' category.id %}" class="btn btn-sm btn-warning">Modifier</a>
                                {% endif %}

                            {% if perms.products.delete_category %}
                                <a
                                   class="btn btn-sm btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteModal{{ category.id }}">

                                    Supprimer
                                </a>
                            {% endif %}
                        </div>
                                <!-- Modale de confirmation -->
                                    <div class="modal fade" id="deleteModal{{ category.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ category.id }}" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel{{ category.id }}">Confirmation de suppression</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                          </div>
                                          <div class="modal-body">
                                            Êtes-vous sûr de vouloir supprimer la catégorie <strong>{{ category.name }}</strong> ?
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                            <form method="post" action="{% url 'category_delete' category.id %}">
                                              {% csrf_token %}
                                              <button type="submit" class="btn btn-danger">Confirmer</button>

                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                        </td>
                            </tr>

                                {% endfor %}

                          </tbody>
                        </table>
                          {% include 'pagination.html' %}

                        </div>

                    </div>
                </main>

{% endblock main %}






